{% extends 'base.html' %}
{% block content %}
<center>
    <br>
    <br>
    <br>
    <br>
    <h1>Ai inchiriat cu succes aceasta masina!</h1>
    <br>
    <br>
    <br>
    <a class="btn btn-warning" href="{% url 'carApp:factura' %}" style="font-size: 25px;">Trimite factura!</a>
    <br>
    <br>
    <br>
    <br>
    <img src="/media/ok.png" width="600"
         height="460">
    <br>
    <div class="card border mb-3" style="max-width: 73rem;" align="justify">
        <div class="card-body text">
            <p class="card-text">
            <ul>
                <li><h4>Rezervă acum și poți modifica rezervarea oricând</h4></li>
                <li><h4>Ești nevoit să alegi o altă dată? Amână rezervarea.</h4></li>

                <li><h4>Schimbări de planuri? Alege o mașină de închiriat în altă destinație.</h4></li>

                <li><h4>Poți modifica rezervarea telefonic. Nu vei plăti taxe de administrare pentru modificare.</h4></li>

                <li><h4>Livrăm mașina închiriată la data aleasă de tine, 24/7 non-stop.</h4></li>
        </ul>
            </p>
        </div>

    </div>
    <div align="center">
        <b><a href="{% url 'carApp:lista_masini' %}"><input type="button" value="Back" class="btn btn-success"
                                                            style="font-size: 20px; font-family:courier;"/></a></b>
    </div>
</center>
{% endblock %}