{% extends 'base.html' %}
{% block content %}
<center>
    <br>
    <br>
    <br>
    <br>
    <div class="card border-dark mb-3" style="max-width: 88rem;">
        <div class="card-header"><h1>Termeni şi condiţii închirieri auto</h1></div>
  <div class="card-body text-dark">
    <h5 class="card-title">Termeni de închiriere maşini</h5>
      <p class="card-text-justify"><h6 align="left">Firma noastra oferă servicii de închiriere mașini, din flota proprie de peste 350 autovehicule noi, din 16 mărci corespunzătoare tuturor claselor de mărime, cu respectarea următorilor termeni și condiții:</h6>

      <h6 align="left">Clientul care închiriază mașina trebuie să aibă minim 25 de ani împliniți la data încheierii contractului de rent a car (se va prezenta CI/buletin sau pașaport) precum și permis de conducere cu vechime de cel puțin 2 ani. </h6>
      <h6 align="left">Autoturismele oferite de Automotive nu pot fi închiriate de soferi începători.</h6>
      <h6 align="left">Permisul de conducere al persoanei care închiriază mașina trebuie să fie valabil pe teritoriul României (permise UE)</h6>
<h6 align="left">Responsabilitatea încălcării legilor de circulație revine în exclusivitate conducătorului auto care a încălcat cu sau fără bună știință norma respectivă,
    acesta suportând cuantumul amenzii și punctele de amenda corespunzatoare.</h6>
      <h6 align="left">Ieșirea din țară cu autoturismele închiriate de la Automotive Rent a Car se poate face numai dupa acceptul companiei noastre, în scris.</h6>
      <h6 align="left">Se percepe o taxa de administrare de 50 euro pentru instrumentarea oricarei daune si/sau amenzi aferente perioadei de inchiriere.</h6>
      <h6 align="left">Perioada minima de inchiriere este de 2 zile.</h6>
      <h6 align="left">Pentru inchirieri pe o perioada mai mare de 60 zile, tarifele afisate sunt valabile in limita a 1000 km/luna, calculata la numarul de zile inchiriate.</h6>
      <h6 align="left">Pentru confirmarea rezervării se poate solicita un avans de 50 euro, suma care se va scădea din valoarea totală a zilelor de închiriat. În cazul anularii rezervării sau neprezentării la preluarea maşinii, suma achitată ca avans nu se va restitui.</h6>


<h5>Plata garanţiei</h5>
      <h6 align="left">Plata garanției se face în lei (la cursul BNR din ziua plății), EUR sau USD.</h6>

<h6 align="left">Restituirea garanției se va face exclusiv în moneda în care a fost achitată. Garanția va fi utilizată pentru penalizare, în cazuri de distrugeri intenționate constatate, la predarea mașinii închiriate, în interiorul sau exteriorul autoturismului, pierderi ale documentelor sau cheilor autoturismului, furt al părților autoturismului etc.</h6>

<h6 align="left">Garanția achitată la încheierea contractului de închiriere auto va fi returnată la recuperarea autoturismului în bună stare de funcționare și de caroserie, cu toate documentele, accesoriile și echipamentele cu care a fost predat clientului.</h6>

<h6 align="left">Acesta este obligat să restituie autoturismul la data și locația prevazută în contractul de închiriere.</h6>

<h6 align="left">Masina se va returna cu aceeasi cantitate de combustibil (mentionata in Fisa de Predare) pe care a avut-o la inceputul perioadei de inchiriere. In caz contrar, Clientul va plati diferenta dintre combustibilul existent la intoarcere si combustibilul existent la plecare, la tariful de 2 EUR/litru. Nu se acorda credit pentru combustibilul in plus fata de cantitatea existenta la plecare.</h6>

<h6 align="left">Clientul trebuie să folosească pentru alimentarea autoturismului numai combustibil achiziționat din stațiile de carburanți autorizate.</h6>


<h5>Accidente sau avarii</h5>
<h6 align="left">În caz de accident sau avarie din vina clientului (inclusiv situația în care autoturismul este găsit lovit în parcare) se va plăti suma de 500 Euro + TVA sau 20% din valoarea daunei în cazul în care c/val reparației este mai mare de 5000 euro, justificată prin deviz de reparație de la unitatea service a mărcii respective. În caz de avarie care se dovedește (prin raportul de la poliție) ca nu este din culpa clientului, se va plati suma de 100 Euro + TVA pentru deschiderea dosarului de dauna precum și contravaloarea zilelor de staționare pentru remediere (contravaloare zile staționare = nr zile staționare X chirie/zi) dar nu mai mult decât valoarea garanției. Sumele menționate se pot achita cash sau se pot reține cu cardul (prezent sau nu) care a fost folosit pentru achitarea inițiala a chiriei/garanției.</h6>

<h6 align="left">Compania noastra se obliga ca in cazul in care c/val remedierii avariilor provocate de client este mai mica decat valoarea garantiei retinute la returnarea masinii sa restituie diferenta, justificata prin deviz estimativ de la unitatea de service a marcii respective.</h6></p>

  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="card border-dark mb-3" style="max-width: 58rem;">
      <div class="card-body">
        <h5 class="card-title">Ce include tariful de inchiriere auto?</h5>
        <ul>
            <li>controlul tehnic și întreținerea autoturismului (toate mașinile beneficiază de ITP și au vignete achitate la zi, clienții companiei noastre nefiind nevoiți să achite taxe conexe)</li>
            <li>schimbarea și completarea uleiului regulat</li>
            <li>asigurarea 100% contra accidentelor și furturilor prin intermediul polițelor full Casco</li>
            <li>factura.</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-dark mb-3" style="max-width: 58rem;">
      <div class="card-body">
        <h5 class="card-title">Tariful de închiriere nu cuprinde:</h5>
         <ul>
            <li>combustibilul</li>
            <li>taxele de trecere, de parcare sau amenzile pe timpul închirierii</li>
            <li>daunele care nu fac obiectul asigurării (în genere daune legate de degradarea voită a autoturismului de către chiriaș)</li>
            <li>axa de livrare in afara orelor de program, in weekend si sarbatori legale (15 euro)</li>
        </ul>


      </div>
    </div>
  </div>
</div>


    <div align="center">
        <b><a href="{% url 'carApp:lista_masini' %}"><input type="button" value="Back" class="btn btn-success"
                                                            style="font-size: 20px;"/></a></b>
    </div>

    </center>


{% endblock %}